body{
  min-width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* background: linear-gradient(to bottom,rgb(200,254,125),rgb(35,228,205)); */
  overflow: hidden;
  text-align: center;
}

h1{
  color: rgb(60,151,120);
  font-size: 4em;
}

form{
  padding: 0px 25px;
}

form div{
  margin: 5vh auto;
}

.form-control{
  background: rgb(73,127,106);
  display: flex;
  height: 3em;
  padding-left: 60px;
  position: relative;
}

.user-control::before {
  content: url(../img/user.svg);
  align-self: center;
  position: absolute;
  left: 10px;
  top: 2px;
}

.pass-control::before {
  content: url(../img/pass.svg);
  align-self: center;
  position: absolute;
  left: 10px;
  top: 1px;
}

input[type = "text"],
input[type = "password"]{
  padding: 10px 50px;
  color: rgb(60,151,120);
  background: rgb(146,246,152);
  border: 1px solid rgb(44,184,72);
  font-size: 1.5em;
  cursor: pointer;
  max-width: 200px;
}

.form-control div{
  min-width: 60px;
  display: flex;
  align-items: center;
}

input[type = "submit"]{
  background: rgb(31,80,71);
  color: rgb(73,235,187);
  padding: 10px 30px;
  border: 1px solid rgb(44,184,72);
  font-size: 1.5em;
  cursor: pointer;
}

@media(max-width: 500px){
  input[type = "text"],
  input[type = "password"]{
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    max-width: auto;
  }
}
