body{
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

h1{
  margin-top: 0;
  font-size: 4em;
}

form{
  min-width: 320px;
  /* width: 50%; */
}

form div{
  margin: 5vh auto;
}

.form-control{
  display: flex;
  justify-content: center;
  height: 3em;
  position: relative;
}

.user-control::before {
  content: url(../img/user.svg);
  align-self: center;
  position: absolute;
  left: 10px;
  top: 2px;
}

.pass-control::before {
  content: url(../img/pass.svg);
  align-self: center;
  position: absolute;
  left: 10px;
  top: 1px;
}

input[type = "text"],
input[type = "password"]{
  padding: 10px;
  color: black;
  border: 1px solid var(--primary);
  border-radius: 4px;
  max-width: 200px;
}


input[type = "submit"]{
  background: var(--primary);
  color: var(--secondary);
  padding: 10px 30px;
  border: 0;
  font-size: 1.5em;
  cursor: pointer;
}

@media(max-width: 500px){
  input[type = "text"],
  input[type = "password"]{
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    max-width: auto;
  }
}
