*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto bold', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header{
  background-color: rgb(38, 182, 30);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  height: 10%;
  min-width: 100px;
  /* max-width: 320px; */
  width: 100%;
  z-index: 3;
}

header div{
  min-height: 50px;
  height: 100%;
  max-height: 200px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color: white;
  width: 100%;
  font-weight: 700;
  max-width: 150px;
  height: 100%;
  max-height: 150px;
  padding-top: 10%;
  padding-bottom: 5px;
  padding-left: 5px;
}

.navbar a:hover{
  background-color: white;
  color: rgb(38, 182, 30);
}

.exit{
  margin-bottom: -40px;
  justify-content: flex-end;
}

.exit a{
  color: rgb(200, 49, 49);
  padding-bottom: 0;
}

.exit a:hover{
  background-color: rgb(200, 49, 49);
  color: white;
}

section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
}

label{
  display: block;
  margin: 10px 0px;
}

.titles{
  color: rgb(38, 182, 30);
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

footer{
  width: 100%;
  bottom: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.inputForm {
  margin: 20px 3%;
  min-width: 18%;
}

.inputForm input, .inputForm select {
  padding: 5px 5px;
  margin: 5px;
}

.inputForm:last-child{
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
}

button{
  min-width: 300px;
  margin-top: 30px;
  width: 75%;
  height: 50px;
  background-color: rgb(38, 182, 30);
  font-size: 1.5em;
  color: white;
  border: 0;
  cursor: pointer;
}

button:hover{
  background-color: rgba(38, 182, 30, 0.73);
}

@media only screen and (min-width: 1020px){

  header{
    flex-direction: column;
    height: 100vh;
    width: 10%;
  }

  .navbar{
    flex-wrap: nowrap;
  }

  section{
    width: 90%;
  }
}
