.titles{
  color: var(--primary);
  width: 100%;
  text-align: center;
  height: 80px;
}

.container{
  /* background-color: var(--secondary); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.titles h1{
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.inputForm{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 300px;
  width: 20%;
  margin-bottom: 40px;
}

.inputForm label{
  font-size: 1.2em;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

.inputForm:last-child{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.inputForm:last-child button{
  width: 50%;
  border-radius: 5px;
}

.ageTitle{
  width: 100%;
}


.age{
  width: 33%;
}

#ageCont{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

#direccion{
  width:400px;
  height:100px;
  border: 1px solid var(--primary);
}

input{
  border: 1px solid var(--primary);
  padding: 5px 10px;
  font-size: 1em;
  margin: 10px 3px;
  border-radius: 4px;
  /* background-color: rgb(245, 245, 245); */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
  -webkit-appearance: textfield !important;
}

input[type="date"] {
  background:#fff url(../img/calendar.png)  97% 50% no-repeat ;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

textarea{
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--primary);
}

select{
  border: 1px solid var(--primary);
  padding: 5px 10px;
  margin: 10px 3px;
  cursor: pointer;
}

#btnSave{
  background: var(--primary);
  color: white;
  padding: 10px;
  border: 1px solid rgb(44,184,72);
  font-size: 1.5em;
  cursor: pointer;
  align-self: center;
}


@media(max-width: 500px){

  .titles h1{
    font-size: 2em;
  }

  .inputForm{
    width: 100%;
    margin: 15px auto;
  }

  .age{
    width: 100%;
    margin: 15px auto;
  }

  .inputForm label{
    margin: 10px auto;
  }

  input{
    margin: 10px 3px;
    cursor: text;
  }

  .inputForm:last-child{
    margin: 0;
  }

  select{
    margin: 10px 3px;
    cursor: text;
  }
  #direccion{
    cursor: text;
  }
}
