.principal{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.titles{
  color: rgb(60,151,120);
  width: 100%;
  text-align: center;
  margin-top: 50px;
  height: 80px;
}

.container{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.titles h1{
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.inputForm{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-width: 20%;
  margin-bottom: 20px;
}

.inputForm label{
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 20px;
}

.ageCont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inputForm:last-child{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.inputForm:last-child button{
  width: 50%
}

.ageTitle{
  width: 100%;
}

label{
  display: block;
}

.age{
  width: 33%;
}

#direccion{
  width:400px;
  height:100px;
  border: 1px solid #000;
}

input{
  border: 1px solid #000;
  padding: 5px 10px;
  font-size: 1em;
  margin: 0px 3px;
  cursor: pointer;
}

select{
  border: 1px solid #000;
  padding: 5px 10px;
  cursor: pointer;
}

#btnSave{
  background: rgb(31,80,71);
  color: rgb(73,235,187);
  padding: 10px;
  border: 1px solid rgb(44,184,72);
  font-size: 1.5em;
  cursor: pointer;
  align-self: center;
}


@media(max-width: 500px){

  .titles h1{
    font-size: 2em;
  }

  .inputForm{
    width: 100%;
    margin: 15px auto;
  }

  .age{
    width: 100%;
    margin: 15px auto;
  }

  .inputForm label{
    margin: 10px auto;
  }

  input{
    margin: 10px 3px;
    cursor: pointer;
  }

  .inputForm:last-child{
    margin: 0;
  }

  select{
    margin: 10px 3px;
    cursor: pointer;
  }
  #direccion{
    cursor: pointer;
  }
}
