@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: local(roboto), url('../font/Roboto-Regular.ttf') format('ttf');
}
/* dancing-script-700 - latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dancing-script-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Dancing Script Bold'), local('DancingScript-Bold'),
       url('../fonts/dancing-script-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dancing-script-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dancing-script-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/dancing-script-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dancing-script-v11-latin-700.svg#DancingScript') format('svg'); /* Legacy iOS */
}

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  min-height: 100vh;
  user-select: none;
  display: flex;
  flex-wrap: nowrap;
}

h1, .user{
  font-family: 'Dancing Script';
  font-weight: 900;
}


/*---------------------------------HEADER--------------------------------*/

header{
  left: 0;
  top: 0;
  position: sticky;
  width: 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: linear-gradient(to bottom,rgb(200,254,125),rgb(35,228,205)); */
  height: 100vh;
}

.user{
  width: 100%;
  text-align: center;
}

.user img{
  width: 100%;
  margin-top: 15px;
}

.user p{
  font-weight: bold;
  font-size: 2em;
  margin: 0;
}

.menubtn{
  display: none;
}

.options{
  transition: all 500ms;
  width: 100%;
}

.option{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  text-align: center;
  min-height: 65px;
  position: relative;
  transition: all 500ms;
}

.option:before{
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

#showMenuReg:before{
  background-image: url('../img/add.svg');
}

#showMenuEst:before{
  background-image: url('../img/stats.svg')
}

#btnSalir:before{
  background-image: url('../img/exit.svg');
}

.option:hover{
  background: rgb(35,228,205);
}

.option:hover > .optionL{
  display: block;
}

.optionL{
  display: none;
  transition: all 500ms;
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  min-height: 100%;
}

.optionL .option:hover{
  background: rgb(35,228,205);
}

.optionL .option:nth-child(1)::before{
  background-image: url('../img/ios-home.svg');
}

.optionL .option:nth-child(2)::before{
  background-image: url('../img/calendar.svg');
}

.optionL .option:nth-child(3)::before{
  background-image: url('../img/add.svg');
}

/*---------------------------------SECTION--------------------------------*/

.principal{
  width: 93%;
  margin: 0;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

footer{
  align-self: center;
  margin-bottom: 100px;
}

footer a{
  color: green;
}

@media(max-width: 500px){
  #main{
    width: 100%;
    overflow: scroll;
  }

  #main::-webkit-scrollbar{
    width: 0px;
  }

  .menu{
    width: 100%;
    background: rgb(31,80,71);
    height: 50px !important;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .user{
    width: 80%;
    text-align: left;
    display: flex;
  }

  .username{
    font-weight: bold;
    font-size: 1em;
    color: white;
    align-self: center;
    margin-left: 8px;
    margin: 5px 0px 0px 10px;
  }

  .user img{
    width: 32px;
    margin: 5px 0px 0px 10px;
    align-self: center;
  }

  .principal{
    width: 100%;
  }

  .menubtn{
    width: 20%;
    text-align: right;
    align-self: center;
    display: block;
  }

  .menubtn img{
    width: 32px;
    height: 32px;
    cursor: pointer;
    align-self: center;
    margin: 5px 10px 0px 0px;
    z-index: 2;
  }

  .options{
    transform: translateY(-200%);
    transition: all 500ms;
    background: #1f495f;
    margin: 9px 0px;
    width: 100%;
    position: absolute;
  }

  .option{
    list-style: none;
    padding: 15px;
    color: #fff;
    font-size: 1.3em;
    text-align: left;
    border-top: 2px solid #fff;
    z-index: 0;
    transition: all 500ms;
    background: rgb(31,80,71);
    text-decoration: none;
  }

  .option:hover{
    background: #37bfbf;
  }
}
